body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width: 100%;
}

.posts {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.post {
  background-color: rgba(194, 193, 193, 0.407);
  padding: 2%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.post-title {
  font-weight: bold;
  font-size: 16pt;
}

.post-author {
  font-style: italic;
}